### 1. What is a variable in Python?
> Variable in python is a name given to memory reference, where some type of data/value is stored and which can be accessed using the variable itself. A variable can be perceived as container for holding a data.

### 2. How do you create a variable?
> By assigning '=' some data to a word, which follows variable naming rules.

In [16]:
variable_name='data'

### 3. How do you check the value within a variable?
> print the variable or simply execute the variable name in shell.

In [17]:
print(variable_name)

data

### 4. How do you create multiple variables in a single statement?

In [9]:
v1,v2,v3 = 3,2,1
print(v1,v2,v3)

3 2 1

### 5. How do you create multiple variables with the same value?

In [11]:
v1=v2=v3=4
print(v1,v2,v3)

4 4 4

### 6. How do you change the value of a variable?
> Reassign '=' the variable with new value.

In [18]:
variable_name='value'
print(variable_name)

value

### 7. How do you reassign a variable by modifying the previous value?
> Refer to the value using the variable, modify it and reassign the new value to the same variable.

In [19]:
variable_name = variable_name+'/data'
print(variable_name)

value/data

### 8. What does the statement `counter += 4` do?
> Increase the value of variable `counter` by 4.

In [20]:
counter=1
counter +=4
print(counter)

5

### 9. What are the rules for naming a variable?
> * A variable's name must start with a letter or the underscore character _. 
> * It cannot begin with a number.
> * A variable name can only contain lowercase (small) or uppercase (capital) letters, digits, or underscores (a-z, A-Z, 0-9, and _).

### 10. Are variable names case-sensitive? Do `a_variable`, `A_Variable`, and `A_VARIABLE` represent the same variable or different ones?
> * Yes, python variables are case-sensitive.
> * They represent different variables.

### 11. What is Syntax? Why is it important?
> * The syntax of a programming language refers to the rules that govern the structure of a valid instruction or statement. 
> * Syntax are important because they are rules of grammar for any programming language and following proper grammer helps compiler to generate machine code accordingly.

### 12. What happens if you execute a statement with invalid syntax?
> Python raises a syntax error, when it encounters the invalid syntax.

### 13. How do you check the data type of a variable?
> By using `type` function.

In [22]:
print(type(variable_name), type(v1))

<class 'str'> <class 'int'>

### 14. What are the built-in data types in Python?
> Built-in data types in python:
> * Integer
> * Float
> * Boolean
> * None
> * String
> * List
> * Tuple
> * Dictionary

### 15. What is a primitive data type?
> Primitive data types represents a single value.

### 16. What are the primitive data types available in Python?
> Integer, Float, Boolean, None, and String

### 17. What is a data structure or container data type?
> Data structure or Container data type represents collection of multiple primitive types. They hold multiple pieces of data together.

### 18. What are the container types available in Python?
> List, Tuple, and Dictionary

### 19. What kind of data does the Integer data type represent?
> Integers represent positive or negative whole numbers. Integers should not include decimal points.

### 20. What are the numerical limits of the integer data type?
> Integers in Python has no numerical limits and can be arbitrarily large (or small) ranging from from negative infinity to infinity

### 21. What kind of data does the float data type represent?
> Numbers with a decimal point.

### 22. How does Python decide if a given number is a float or an integer?
> If number has decimal point in it, python declares it as a float otherwise an integer.

### 23. How can you create a variable which stores a whole number, e.g., 4 but has the float data type?

In [29]:
whole_no = 4.0
type(whole_no)

float

### 24. How do you create floats representing very large (e.g., 6.023 x 10^23) or very small numbers (0.000000123)?
> We can do by using the scientific notation with an "e" to indicate the power of 10.

In [30]:
print('6.023 x 10^23 ->', 6.023e23)
print('0.000000123 ->', 123e-9)

6.023 x 10^23 -> 6.023e+23
0.000000123 -> 1.23e-07

### 25. What does the expression `23e-12` represent?
> $23 \times 10^{-12}$

### 26. Can floats be used to store numbers with unlimited precision?
> Yes, as are no limits on the value or the number of digits before or after the decimal point.

### 27. What are the differences between integers and floats?
> * Floats should contain a decimal points while Integers should not.
> * Large floats can be represented using scientific notation while Integers cannot.
> * An Integer can be represented as Float, while a Float cannot be represented as an Integer without loosing precision of the value.

### 28. How do you convert an integer to a float?

In [31]:
# using float function
integer = 123
floating = float(integer)
print(integer, floating)

123 123.0

### 29. How do you convert a float to an integer?

In [32]:
# using int function
floating = 123.321
integer = int(floating)
print(floating, integer)

123.321 123

### 30. What is the result obtained when you convert 1.99 to an integer?
> It becomes 1, as digits after decimal points are discarded.

In [7]:
int(1)

1

### 31. What are the data types of the results of the division operators `/` and `//`?
> * Result of `/` operation - float
> * Result of `//` operation - int

In [8]:
# example
print(5/2)
print(5//2)

2.5
2

### 32. What kind of data does the Boolean data type represent?
> Booleans represent one of the 2 values: True and False

### 33. Which types of Python operators return booleans as a result?
>* Relational Operators ( <, >, ==, !=, >=, <=)
>* Logical Operators (and, or, not)

### 34. What happens if you try to use a boolean in arithmetic operation?
> Booleans are automatically converted to `int`s when used in arithmetic operations.
> * True is converted to 1
> * False is converted to 0

In [6]:
#Example-
print(5+True)
print(5*False)

6
0

### 35. How can any value in Python be converted to a boolean?
> Using bool function

In [11]:
#Eample -
bool(100)

True

### 36. What are truthy and falsy values?
> * When `bool(value)` = False, the `value` can be called Falsy.
> * When `bool(value)` = True,  the `value` can be called Truthy.

### 37. What are the values in Python that evaluate to False?
> * False (boolean)
> * 0 (integer)
> * 0.0 (float)
> * None (empty object)
> * "" (empty string)
> * [] (empty List)
> * () (empty Set)
> * {} (empty Dictionary)
> * () (empty Set)
> * range(0) (empty range)

### 38. Give some examples of values that evaluate to True.

In [15]:
print(bool(12))
print(bool("Akash"))
print(bool([1,5]))
print(bool(20.6))

True
True
True
True

### 39. What kind of data does the None data type represent?
> The None type includes a single value `None`, used to indicate the absence of a value.

### 40. What is the purpose of None?
> None is often used to declare a variable whose value may be assigned later.

### 41. What kind of data does the String data type represent?
> A string is used to represent text (a string of characters).

### 42. What are the different ways of creating strings in Python?

In [25]:
# using single quotes
str1 = 'akash bairagi'

# using double quotes
str2 = "!  Sairam!!"

# using 3 single quotes
str3 = '''Sairam
akash'''

# using 3 double quotes
str4 = """ ~Sairam Python~"""

print(str1)
print(str2)
print(str3)
print(str4)

akash bairagi
!  Sairam!!
Sairam
akash
 ~Sairam Python~

### 43. What is the difference between strings creating using single quotes, i.e. `'` and `'` vs. those created using double quotes, i.e. `"` and `"`?
> The strings have no such difference. We can use single quotes inside a string written with double quotes, and vice versa.

### 44. How do you create multi-line strings in Python?
> * enclosing strings 3 single quotes ` ''' `
> * enclosing strings 3 double quotes `"""`
> * using newline character `\n` to start a new line.

### 45. What is the newline character, `\n`?
> Newline character `\n` represents line break or Enter.

### 46. What are escaped characters? How are they useful?
> * Escaped characters are characters represented using a backslash `\` followed by the character which will be interpreted differently when printed.
> * Escaped characters can be 
    * used to insert an illegal character in a string
    * used to give special direction to the output stream

### 47. How do you check the length of a string?

In [28]:
# using function len
len(str4)

16

### 48. How do you convert a string into a list of characters?

In [30]:
# using list function
print(list(str4))

[' ', '~', 'S', 'a', 'i', 'r', 'a', 'm', ' ', 'P', 'y', 't', 'h', 'o', 'n', '~']

### 49. How do you access a specific character from a string?
> Using the `[]` indexing notation, we can access aspecific character from a string.

In [33]:
str4[2]

'S'

### 50. How do you access a range of characters from a string?
> Using notation `[start:end]` we can access a range of characters from a string.

In [35]:
str1[2:5]

'ash'

### 51. How do you check if a specific character occurs in a string?

In [36]:
# using 'in' operator
'a' in str1

True

### 52. How do you check if a smaller string occurs within a bigger string?

In [37]:
# using 'in' operator
'akash' in str1

True

### 53. How do you join two or more strings?

In [39]:
# using '+' operator
str1 + str2

'akash bairagi!  Sairam!!'

### 54. What are "methods" in Python? How are they different from functions?
> * Methods are functions associated with  a particular data type and are accessed using the  `.` notation.
> * Functions are independent of any data types.

In [40]:
# method example
str1.upper() # upper() method defined for string data types only

#function example
print(str1) # print function works for any data type

akash bairagi

### 55. What do the `.lower`, `.upper` and `.capitalize` methods on strings do?

In [41]:
# .lower() - changes all characters to lowercase
print(str1.lower())

# .upper() - changes all characters to uppercase
print(str1.upper())

# .capitalize() - changes first character to uppercase
print(str1.capitalize())

akash bairagi
AKASH BAIRAGI
Akash bairagi

### 56. How do you replace a specific part of a string with something else?

In [44]:
# using .replace() method
str1.replace('bairagi', 'sairam')

'akash sairam'

### 57. How do you split the string "Sun,Mon,Tue,Wed,Thu,Fri,Sat" into a list of days?

In [45]:
# using .split() method
"Sun,Mon,Tue,Wed,Thu,Fri,Sat".split(",")

['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

### 58. How do you remove whitespace from the beginning and end of a string?

In [46]:
# using .strip() method
"     jai sairam    ".strip()

'jai sairam'

### 59. What is the string `.format` method used for? Can you give an example?
> The `.format` method combines values of other data types with strings.

In [51]:
# Example
"( {} x {} + {} ) is {}".format(2,3,5, 2*3+5)

'( 2 x 3 + 5 ) is 11'

### 60. What are the benefits of using the `.format` method instead of string concatenation?
> The values of other data types required to be converted to string using `str` before concatenating with string.

In [54]:
#demonstration
print("akash"+str(99))
print("akash"+99)

akash99

TypeError: can only concatenate str (not "int") to str

### 61. How do you convert a value of another type to a string?

In [56]:
# using str() function
str(True)

'True'

### 62. How do you check if two strings have the same value?

In [58]:
# using '==' operator
print('sairam'=="Sairam")
print('Sairam'=="Sairam")

False
True

### 63. Where can you find the list of all the methods supported by strings?

In [60]:
# using dir() function
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

### 65. How do you create a list?
> To create a list, enclose a sequence of values within square brackets `[` and `]`, separated by commas.

In [62]:
# example
[1,5,3,6,7]

[1, 5, 3, 6, 7]

### 66. Can a Python list contain values of different data types?

In [63]:
# Yes
[1,True,'sai']

[1, True, 'sai']

### 67. Can a list contain another list as an element within it?

In [65]:
# Yes
[1,'sai',[1,'world']]

[1, 'sai', [1, 'world']]

### 68. Can you create a list without any values?

In [68]:
# Yeas
list()

[]

### 69. How do you check the length of a list in Python?

In [90]:
# using 'len()' function
L = [1,100,3000,4000]
len(L)

4

### 70. How do you retrieve a value from a list?

In [86]:
# using '[]' index notation
L[2]

3000

### 71. What is the smallest and largest index you can use to access elements from a list containing five elements?
> * smallest index - 0
> * largest index - 4

### 72. What happens if you try to access an index equal to or larger than the size of a list?
> Python throws `IndexError`, saying list index out of range.

### 73. What happens if you try to access a negative index within a list?
> When -ve index used, it gives the element at (length+neg_index) position of the list.

In [87]:
# example
L[-2]  ## 4+(-2) = 2

3000

### 74. How do you access a range of elements from a list?

In [76]:
# using [start:end] notation
L[1:-1]

[100, 3000]

### 75. How many elements does the list returned by the expression `a_list[2:5]` contain?
> 4 elements.

### 76. What do the ranges `a_list[:2]` and `a_list[2:]` represent?
> * `a_list[:2]` is equivalent to `a_list[0:2]`
> * `a_list[2:]` is equivalent to `a_list[2:0]`

### 77. How do you change the item stored at a specific index within a list?

In [91]:
# using assignment operator
L[3]=0 # changing item at index 3
L

[1, 100, 3000, 0]

### 78. How do you insert a new item at the beginning, middle, or end of a list?

In [92]:
# adding new item at the beginning
L.insert(0,180)
print(L)

# adding new item at the middle
L.insert(len(L)//2,180)
print(L)

# adding new item at the end
L.append(180)
print(L)

[180, 1, 100, 3000, 0]
[180, 1, 180, 100, 3000, 0]
[180, 1, 180, 100, 3000, 0, 180]

### 79. How do you remove an item from a list?

In [93]:
# using .remove() method
L.remove(0)
L

[180, 1, 180, 100, 3000, 180]

### 80. How do you remove the item at a given index from a list?

In [94]:
# using .pop(index) method
L.pop(1)
L

[180, 180, 100, 3000, 180]

### 81. How do you check if a list contains a value?

In [95]:
# using 'in' operator
100 in L

True

### 82. How do you combine two or more lists to create a larger list?

In [96]:
# using '+' operator
LL = [1, 10]+ L + [90, 9]
LL

[1, 10, 180, 180, 100, 3000, 180, 90, 9]

### 83. How do you create a copy of a list?

In [97]:
# using .copy() method
LC =L.copy()
LC

[180, 180, 100, 3000, 180]

### 84. Does the expression `a_new_list = a_list` create a copy of the list `a_list`?
> NO. Both `a_new_list` and `a_list refers` to the same memory location where only one copy of the list is stored.

### 85. Where can you find the list of all the methods supported by lists?

In [98]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

### 86. What is a Tuple in Python?
> A tuple is an ordered collection of values, created by enclosing values within parentheses ( and ), separated by commas.

### 87. How is a tuple different from a list?
> * Tuple is immutable, while List are mutable
> * They are created using paranthesis(), while list are created using square brackets[]
> * Tuple is hashable, while List is not
> * Tuple cannot be extended or appended to, unlike List

### 88. Can you add or remove elements in a tuple?
> Noh., Tuples are immutable.

### 89. How do you create a tuple with just one element?

In [104]:
#  by typing a comma after a element enclosed in ()
T1 = (9,)
T1

(9,)

### 90. How do you convert a tuple to a list and vice versa?

In [106]:
# using list() function to convert tuple to list
print(list(T1))

# using tuple() function to convert list to tuple
print(tuple(L))

[9]
(180, 180, 100, 3000, 180)

### 91. What are the `count` and `index` method of a Tuple used for?

In [110]:
# `.count()` - Return number of occurrences of value.
print(T1.count(9))

# '.index()' - Return index of element
print(T1.index(9))

1
0

### 92. What is a dictionary in Python?
> A disctionay in Python is a type of "associative array". It is an unordered collection of items. Each item stored in a dictionary has a key and value. Unlike sequences such as lists and tuples, in which the items are indexed by an integer starting at 0, each item in a dictionary is indexed by a unique key,

### 93. How do you create a dictionary?
>  Dictionaries are created by enclosing key-value pairs within braces or curly brackets { }.

In [112]:
#example
height = {'Burj Khalifa': 828., 
          'One World Trade Center': 541.3,
          'Mercury City Tower': -1., 
          'Q1':323.,
          'Eiffel Tower': 324}

### 94. What are keys and values?
> * `keys` are unique set of immutable hashable data used to index a `value`.
> * `values` are mutable data associatied to a unique `key`

### 95. How do you access the value associated with a specific key in a dictionary?
> Keys can be used to access values using square brackets [ and ], in dictionary.

In [115]:
# 'Q1' is index, 323 is value
height['Q1']

323.0

### 96. What happens if you try to access the value for a key that doesn't exist in a dictionary?
> If a key isn't present in the dictionary, then a KeyError is thrown.

### 97. What is the `.get` method of a dictionary used for?
> the `.get()` method is used to access the value associated with a key.

In [120]:
# example
height.get('Q1')

323.0

### 98. How do you change the value associated with a key in a dictionary?

In [121]:
# using assignment opertor
height['Q1'] = 320
height['Q1']

320

### 99. How do you add or remove a key-value pair in a dictionary?

In [122]:
#using .pop() method
height.pop('Mercury City Tower')
height

{'Burj Khalifa': 828.0,
 'One World Trade Center': 541.3,
 'Q1': 320,
 'Eiffel Tower': 324}

### 100. How do you access the keys, values, and key-value pairs within a dictionary?

In [123]:
# access  the keys
print(height.keys())

# access  the values
print(height.values())

# access  the key-value pairs
print(height.items())

dict_keys(['Burj Khalifa', 'One World Trade Center', 'Q1', 'Eiffel Tower'])
dict_values([828.0, 541.3, 320, 324])
dict_items([('Burj Khalifa', 828.0), ('One World Trade Center', 541.3), ('Q1', 320), ('Eiffel Tower', 324)])